<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'findandextract.css' %}">
  <link rel="stylesheet" href="{% static 'users/home-page.css' %}">
  <script src="{% static 'carouselactions.js' %}"></script>    
  <script src="{% static 'users/index_js.js' %}" type="module"></script>
  <script src="{% static 'algo_selection_tree.js' %}"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>  



  <title>doData.ai</title>
 
  
</head>
<body>



		<div class="container demo-1">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
      </div>
		</div><!-- /container -->





  <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
  
  <header class="main_h">

      <div class="row">
        <div class="imglogo-wrap">
          <img class="tinylogo" src="{% static 'users/images/logov2 justimg.png' %}">
          <a class="logo" href="#">doData.ai</a>
          
        </div>
          <div class="mobile-toggle">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <nav>
              <ul>
                  <li><a href=".sec01">How it works</a></li>
                  <li><a href="{% url 'algorithms' %}">Algorithm types</a></li>
              </ul>
          </nav>

      </div> 

  </header>

  <div class="hero">

      <h1 id="homepagebannertext"><br></h1>
      <span id="herotext"></span>
      <div class="submit-algo-buttons" id="homepagebuildalgo">
        <button id="homepagebuildalgo" class="glowbutton">Build Algorithm</button>
      </div>  

  </div>

  <div class="row content">
      <h1 class="sec01" id="howworkheader"></h1>
      <p id="howwork"></p>
      <div class="carousel fade-in" id="menu-cards">
        <ul class="carousel__list">
          <li class="carousel__item" data-pos="-2">
            <img class="sample-menu-img" src="{% static 'users/images/Update.png' %}">
          </li>
          <li class="carousel__item" data-pos="-1">
            <img class="sample-menu-img" src="{% static 'users/images/Calculate.png' %}">
          </li>
          <li class="carousel__item" data-pos="0">
            <img class="sample-menu-img" src="{% static 'users/images/Column.png' %}">
          </li>
          <li class="carousel__item" data-pos="1">
            <img class="sample-menu-img" src="{% static 'users/images/Extract.png' %}">
          </li>
          <li class="carousel__item" data-pos="2">
            <img class="sample-menu-img" src="{% static 'users/images/Graph.png' %}">
          </li>
        </ul>
      </div>

      <p id="howtochoose" style="height:100px;"></p>
      <img style="width:420px;height:356px;margin-bottom:10%;" class="fade-in" id="algopaths" src="{% static 'users/images/ui.png' %}">

      <p id="ifunsure"></p>
      <a target="_blank" style="color: #ff9d6e;" href="https://www.python.org/downloads/">Download Python here.</a>
      <img class="fade-in" style="width:500px;height:250px;" id="textbox-algo-desc-wrap" src="{% static 'users/images/how.png' %}">

      <br><br><br><br><br>

      <p id="describeproblem" style="height:205px;"></p>
      <video id="searchalgopath" style="width:750px;" autoplay loop muted>
        <source src="{% static 'users/images/howto.mp4' %}" type="video/mp4" />
      </video>



      <p id="whataremenus" style="margin-top:20%;"></p>


      


      <p id="whereresult" style="margin-top:4%;"></p>
      <div class="submit-algo-buttons" id="homepagebuildalgobottom">
        <button id="homepagebuildalgo-btm" class="glowbutton">Build Algorithm</button>
      </div>  
      
      <h1 class="sec02"></h1>
      <p></p>


      <h1 class="sec03"></h1>
      <p></p>
      <h1 class="sec04"></h1>
      <p></p>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
</body>
</html>