<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/users/login-page.css">
  <link rel="stylesheet" href="/static/findandextract.css">
  <script src="/static/carouselactions.js"></script>
  <script src="/static/users/index_js.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>doData.ai</title>
 
  {% load static %}
</head>
<body>
    <script src="/static/carouselactions.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <div class="parent-wrap" id="parentwrap">

    </div>
</body>
</html>