@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Syne&family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    /*font-family: 'Syne Mono', monospace;*/
    /*font-family: 'Chivo Mono', monospace; */
    font-family: 'Ubuntu Mono', monospace;

/*'poppins',sans-serif;  */
}
html {
    /*height: auto;*/
    
    min-height: 100%;


    
}
body {
    background: black;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    text-align: center;
    letter-spacing: 0.06em; 
    min-height:100%;
    height: 100vh;
    overflow:hidden;

}
.typecontainer{
    display:block;
    max-height:125px;
    min-height:125px;
    /*max-height:20%;
    min-height:20%;*/
    overflow: scroll;
    margin-bottom:2%; /*4%*/
    width:100%;
}
.interaction-container{
    height:80%;
    overflow:scroll;
    width:100%;
}

h1{
    font-size: 24px;
    text-align:center;
    display:block;
    color: white;  
}
h2 {
    font-size:16px;
    color: rgb(255, 255, 255);  
    text-align:left;
    display:inline;
}
.describe-data-wrap > h2{
    left: 50%;
    text-align: center;
}

.carouselcontainer h2{
    font-size:12px; 
    color: rgb(255, 255, 255);  
    text-align:left;
    display:inline;
}
.carouselcontainer.actionfyi h2{
    font-size:16px; 
}
h3{
    font-size:16px;   
    text-align:left;
    display:block;
    color:rgb(208, 208, 215);
    letter-spacing: .2rem;
    text-align:left;
    display:inline;
    /*margin-bottom:50px;*/
}
h4{
    font-size:22px;   
    text-align:left;
    display:block;
    color:rgb(106, 77, 172);
    letter-spacing: .2rem;

    /*margin-bottom:50px;*/
}

.action h2{
    font-size:18px;
    color:rgba(255, 255, 255) !important;
    /*animation: flicker 5s infinite alternate;
    text-shadow: 1px 0px 4px #7e7e7e,
                .2px 0px .4px #ffffff,
                .3px 0px .4px #000000, 
                2px 0px 3px #f5f5f54b, 
                .2px .3px .1px #3f3f3fb2, 
                .2px 0px .1px, .5px 0px .12px, 
                .8px 0vw 1px #838383,
                1px 0vw .8px rgba(0, 0, 0, 0.103);*/
}
.actionfyi h2{
    color:rgb(208, 208, 215) !important;
}

@keyframes flicker {
    0%, 100% {
        text-shadow:
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px #ffffff,
        0 0 1px rgb(255, 255, 255),
        0 0 1px rgb(0, 0, 0),
        0 0 1px rgb(0, 0, 0)
        0 0 1px rgb(0, 0, 0),
        0 0 1px rgb(0, 0, 0);
        opacity: 1;
    }

    2%, 3%, 98% {
        text-shadow: none;
        opacity: 0.9;
    }
}


.actionsubtext h2{
    font-size:14px;
    color:purple;
}

p{
   color: white;
   font-size: 18px;
}
span{
    color:white;
}
li { cursor: pointer;}
ul li ul:hover{
    background: rgba(93, 48, 114, 0.329);
}


.codebloxk{
    /*display:block;   */
    text-align:left;
    margin-left:2%;
    margin-right: 2%;
}

.glass-pane-wrap{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 98%;
    left:0%;
}
.glass-pane{
    width: 98%;
    
    height: 125px;

    
    



    /*max-height: 20%;
    min-height: 20%;*/
}







.new-glass{
    /* From https://css.glass */
    background: rgba(221, 221, 221, 0.18);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/*https://codepen.io/bennettfeely/pen/kMKLev*/
.glass{
    /*position: relative;
    float: right;
    margin: 1.5rem;
    width: 24rem;
    height: 15rem;*/

    animation: unblur 0s 1s ease both;
    /*-webkit-filter: blur(10px);*/
    

    background: rgba(53, 1, 95, 0.037);
    border-radius: .25rem;
    box-shadow:
      inset 0 0 8rem rgba(50,50,50,.08),
      inset 0 0 8rem rgba(98, 0, 255, 0.08),
      inset 0 0 8rem rgba(36, 1, 75, 0.08),
      inset 0 0 8rem rgba(62, 43, 116, 0.064),
      inset 0 0 5rem rgba(250,245,255,.09);
}
@keyframes unblur {
    to { -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); }
}
@keyframes blur {
    to { -webkit-backdrop-filter: blur(0px); backdrop-filter: blur(0px); }
}
/*
@keyframes unblur { to { -webkit-filter: blur(0px); } }
@keyframes blur { to { -webkit-filter: blur(1px); } }

*/



.carouselcontainer{
    /*display:none;*/
    text-align:left;

}
.action{
    text-align : left;
    margin-top: 1%;
}
.actionfyi{
    text-align : left;
}
.actionsubtext{
    text-align : center;
}
/*carot*/
pre {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  padding: 1ch;
}

pre.caret-underscore > span {
  animation: blink 1s step-end infinite;
  border-bottom: 2px solid white;
  
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.pageheader{
    margin-top:2%;
}

/*add files*/
.form-control{
    width:70%;
    margin-top:2%;
    display:inline;
    font-size:14px;
}
.select_sheet{
    display: none;
}
.dropdown{
    display:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
    margin-top: 0%;
}
.dropdown.show{
    display:block;
}
.submit-algo-buttons.show{
    display:block;
}
.dropdown.show.inline{
    display:inline-block;
    vertical-align: bottom;
}
/*fadein*/
.faded{
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.edittable{
    font-size:8px;
}
/*btn*/
.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #1a2c54 5%, #0a0014 100%);
	background-color:#1a2c54;
	border-radius:5px;
	border:1px solid #ffffff91;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    margin-top:1%;
}
.myButton:hover {
	background:linear-gradient(to top, #1a2c54 5%, #0a0014 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.weaker-btn{
	background:linear-gradient(to bottom, #1a3e54 5%, #0a0014 100%);
	background-color:#1a3e54;
}
.weaker-btn:hover {
	background:linear-gradient(to top, #1a3e54 5%, #0a0014 100%);
	background-color:#ccc2a6;
}
.myButton.special-selection{
    background:linear-gradient(to bottom, #646464 5%, #000 100%);
    color: #fdd;
    margin-bottom:2%;
}
.myButton.special-selection:hover{
    background:linear-gradient(to bottom, #000 5%, #646464 100%);
    color: #fdd;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color:rgb(143, 69, 0);
    background:linear-gradient(to bottom, #f2d9c2 5%, #f0bc8b 100%);
    color:rgb(34, 32, 32);
    font-size:12px;
    width:45px;
    height:15px;
    line-height: 12px; 
    border:black; 
}
.btn:hover{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background:linear-gradient(to top, #f2d9c2 5%, #f0bc8b 100%);
    color:rgb(34, 32, 32);
}
.gently-blur{
    background-color: #2b2b2b;
    filter: blur(3px);
}

.hidden-prompt{
    color: white;
    visibility:hidden;
    border-bottom: solid;
    position: absolute; 
    left: 50%;
    top:285px;
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
}


.dropdown-menu a{
    font-size:12px;
}
.dropdown-menu a:hover{
    background-color: #6200ee;
    color:white;
}
.dropdown-menu li:hover{
    background: rgba(93, 48, 114, 0.329)
}

.condition-dropdown-andor > .dropdown-menu{
    --bs-dropdown-min-width: 4rem;
}

.bigr{
    display:block;
    font-size:14px;
    width:65px;
    height:30px;
    margin-left:70%; 
    margin-top:1%;

}
.btn-hide{
    display:none;
}
/*style="margin-left: auto;margin-right: auto;margin-top: 2%;"*/


/*talbes*/
table, th, td {
	border: 1px solid;
	table-layout: fixed;
    
    color:white;
    z-index: 1;
    overflow:hidden;
    font-size:12px;
    /*align-left:auto;
    align-right:auto;      */
    cursor:pointer;



}

.headertable tr:hover {
	background-color:coral;
}

th {
  background-color: white;
  color: #2b2b2b;
  width:10%;
}

.headertable {
margin:auto;
margin-top:1%;
max-height: 400px;
display: block;
overflow-x:scroll;

overflow-y: scroll;
/*width: 90%;*/

table-layout: fixed;

display: table;

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */

}




/* highlight columns when selecting from table*/
.colselect-table {
    margin:auto;
    margin-top:1%;
}

.selected{ 
    background-color: #ace;
    color: black;
} 
.selected-hover { 
    background-color: rgb(207, 222, 236); 
    color: black;
} 

.header-bottomspace{
    margin-bottom:1%;
}
#executeorrun{
    margin-top:0;
}








.condition-container-wrap{
    display:none;
}
.conditiondivcontainer{
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.conditiondiv{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
}
.condition-dropdown-andor{
    display:flex;
    margin:0%;
    visibility: hidden;
}
.condition-dropdown-andor > .special-interaction-dropdown{
    margin:0%;
    min-width:0px;
    width:69px;
}
.condition-dropdown{
    display:flex;
    margin:0%;
}
.condition-dropdown > .special-interaction-dropdown{
    margin:0%;
    min-width: 150px;
}
.condition-inputs{
    display:flex;
    align-items: center;
    text-align: center; 
    gap: 10px;
}
.condition-input{
    text-align: center;
}
.condition-dropdown-action{
    display:flex;
    margin:0%;
}
.condition-dropdown-action > .special-interaction-dropdown{
    margin:0px;
    min-width: 150px;
}
.condition-input-wrap{
    display:flex;
    align-items: end;
}
.condition-input{
    width:200px;
    margin:0%;
    height:35px;
    display:flex;
}

.condition-and-input-wrap{
    visibility:hidden;
    display: flex;
    gap: 10px;
}



/*
.condition-dropdown-btn-andor{
    background: white;
    border-color: black;
    color: black; 
    display:inline-block;
    width:50px;
    height:35px;
    vertical-align: middle

}
.condition-dropdown-btn-andor:hover{
    background: white;
    border-color: black;
    color: black; 
    display:inline-block;
    width:50px;
    height:35px;
    vertical-align: middle

}


.condition-input{
    width:300;
    height:35px;
    text-align:center;

    display:inline-block;
    margin-left:0px;
    vertical-align: middle;

}
.condition-input-group-text{

    display:inline-block;
    height:50px;
    width:250px;
    border-color: red;
    vertical-align: middle;
     text-align:center;
}
.condition-input-and{
    display:inline-block;
    width:150px;

    height:35px;
    border-color: white; 
    text-align:center;
}
.condition-input-div{
    width:150px;
    display:inline-block;
    height:35px;
    vertical-align: middle;
    margin-left:105px;
}
*/












.special-interaction-dropdown{
    font-size:16px;
    width:fit-content;
    height:35px;
    background: rgb(208, 208, 215);
    border-color: rgb(208, 208, 215);
    color: black; 
    min-width: 150px;
}
.special-interaction-dropdown:hover{
    width:fit-content;
    height:35px;
    background: #484848;
    border-color: rgb(208, 208, 215);
    color: rgb(208, 208, 215);
}


.matchdiv{
    display:block;
    left: 25%;
    position:absolute;
    text-align:right;
    width:300px;

}
.dropdown.matchdiv{
    display:block;
    margin-bottom:2%;
    /*left: 40%;*/
    /*position:absolute;*/

}
.matchdivsubtext{
    position:relative;
    top:60px;
    left:45%;
    text-align:left;
}
.matchbox{
    margin-top:2%;
    margin-bottom:2%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display : flex;
    align-items : center;
    padding: 0px 15em 0 0em;
}
.matchbox span{
    margin-left: 15%;
    font-size: 20px;
    color: white;  
}
.matchwhenheader{
    width:100%;
    display: flex;
    padding: 10px 0;
}


/* DROP FILES */



.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;  
  display:inline-block;
  width: 400px;
  margin-top: 1%;
  height:70px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  margin-bottom:0%;
  text-align: center;
  background-color: rgba(132, 0, 255, 0.123);
  vertical-align: bottom;
  box-shadow: 5px 5px 5px rgba(223, 168, 255, 0.158);
  &.is-active {
    background-color: rgba(0, 0, 0, 0.24);
  }
}
.file-drop-area:hover{
    background-color: rgba(162, 0, 255, 0.301);
}


.fake-btn {
  flex-shrink: 0;
  background-color: rgba(38, 0, 59, 0.822);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 1px;
  margin-top:-14px;
}

.file-msg {
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:14px;
  color:white;

  text-align: right;
}

.file-input {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  left:-0px;

  &:focus {
    outline: none;
  }
  ;  
}
#edit-data-tables{
    display:none;
    margin-bottom:2%;
}
.mini_table_master_wraper{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    /* height:450px; */
    flex-shrink: 0;
    margin-top:1%;

}
.mini-table-wrap{
    width: 400px;
    height:150px;
    display:none;
    float:left;
    margin-bottom:50px;
    text-align: center;
    position:relative; 
    justify-content: center;
}
.mini-table-wrap a{
    position:absolute; 
    top:140px;
    left:0;
    right:0;
    width:53px;
    height:25px;
}

.mini-table-row{
    /*vertical-align: bottom;
    margin-bottom:100px;*/
    margin-left: auto;
    margin-right: auto;
    width:400px;

}

.mini-table-wrap h2{
    font-size: 14px;
} 

.mini-tables{
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;

} 
.mini-tables td, th{
    font-size:12px;
    width: 100%;
}


/*=============== BASE ===============*/
/* https://codepen.io/organised/pen/OJaWRwG */
  

.node {
      cursor: pointer;
    }
.node circle {
    /*fill: fill: hsl(248, 53%, 58%); */
    stroke-width: 1px;
    /*filter:blur(1px);                                              */
    /*filter: blur(1px) drop-shadow(2px 1px 5px rgb(128,0,128)); */
    filter: blur(1px) drop-shadow(0px 0px 1px rgb(68, 7, 128));
    fill: url("#grad");

}  


.front {
  stroke-linecap: round;
  stroke-dasharray: 1507;
  stroke-dashoffset: 0;
}

.node:hover circle {
    fill: black;
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    filter: blur(1px) drop-shadow(1px 1px 1px rgb(52, 67, 235));
}

.node text {
    font-size: 20px;
    fill: white;
}
.node:hover text {
    font-size: 20px;
    fill: coral;
}
.node image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin:200px; 
    border-radius:50%;
    display:none;
   
}

.node:hover image{
    display:inline;

}
.node.selected image{
    display:inline;
    
}
.node.selected circle{
    fill: rgb(118, 208, 211) !important;
    

}
.link {
    fill: none;
    stroke: #48008f;
    stroke-width: 1px;
    filter: drop-shadow( 3px 3px 2px rgba(70, 7, 170, 0.9));
}
.selection-svg{
    width:4000px;
    height:600px;
    display: block;
    margin: auto;




}
.node.parent-node.active text{
    transform: translateX(-150px);
    x:-100;
    text-anchor: middle;
    dominant-baseline:hanging;
}
.node.parent-node.active rect{
    transform: translateX(-150px);
    x:-100;
    text-anchor: middle;
}
.node.parent-node.active circle{
    fill: rgb(255, 255, 255) !important;
}
.scroll-collapse-tree
{
    margin-left:0px; /*-150px*/
   overflow-x: hidden;
   overflow-y: scroll;
   scroll-behavior: smooth;
   height:1500px;
   display:none;
}
.selection-svg{
    height:600px;
}
.algo-details{
    width:100%;
    height:550px;
    display:none;
}
.description-box{
    display:inline-block;
    width:40%;
    height:540px;
    margin-left:0px;
    vertical-align: top;

}
.description-img{
    width:40%;
    height:540px;
    display:inline-block;
    vertical-align: top;
}
.button-banner{
    display:none; 
    width:100%; 
    height:50px;
    /*overflow:visible;*/
}
.button-banner-extra-space{
    margin-top: 2%;
}
.button-banner.show{
    display:block;
}
.algo-select{
    display:block;
    height:610px;
}

.datasetselection{
    border: 1px dashed white;
    box-sizing: border-box;
    width:38%;
    margin-left:auto;
    margin-right:auto;
    background-image: linear-gradient(to right top, #0c0116, #0e0010, #0c0009, #070003, #000000);
    vertical-align: center;
    opacity: 80%;
}

.dropdown.matchdiv.colselect{
    margin-top:2%;
    margin-left:8%;
}

.notsidebar_wrap{
    clear:both;
    width:100%;


    float: left;

}

.master-div-wrap{

    display: flex;
    height:100%;
}

/*HORIZONTAL NAVBAR */
 .sidebar {
    margin-top:0%;
    width: 152px;
    height: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(23,24,25,255);            /*rgba(10, 10, 10, .65)*/
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .4s ease-in-out;

        

    float: left;
    margin-right: 5px;

    /*position: fixed;*/
    
}

.sidebar.open {
    width: 480px;
}
.logoalone{
    justify-items: center;
    opacity: 55%;
    border-radius: 10px;
    border-color:white;
    float:right;
    margin-left:150px; 
    margin-bottom:0%;
    
    
}

.sidebar .logo {
    width: 100%;
    height: 240px;
    padding: 0px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    opacity:85%;
}

.sidebar .logo img {
    width: 150px;
    transition: .4s;

}

.bottom-btns{
    display:block;
    /*align-items: center;
    justify-items: center;
    text-align:center;*/
}
.sidebar.open .logo img {
    width: 225px;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 26px;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;
    scale: 0;
    opacity: 0;
}

.sidebar.open .logo h3 {
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar .nav-title {
    color: #dadada;
    margin: 40px 0 18px;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open .nav-title {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar nav {
    padding: 0 30px;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0px;
    width: 100%;
    height: 56px;
    padding: 0 0px;
    margin: 10px 0;
    color: #fff;
    transition: .3s;
}

.sidebar.open nav .nav-item.active {
   background:rgba(91, 51, 138, .62) !important;
}

.sidebar.open nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar nav .nav-item i {
    font-size: 26px;
}

.sidebar nav .nav-item span {
    font-size: 14px;
    margin-left: 8px;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open nav .nav-item span {
    opacity: 1;
    pointer-events: visible;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar hr {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin: 10px 0 50px;
    background: rgba(255, 255, 255, .1);
    opacity: 0;
}

.sidebar.open hr {
    opacity: 1;
    transition: .4s;
}

.sidebar .toggle {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 245px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding: 2px 0 2px 2px;
    background: linear-gradient(
        90deg,
        transparent 50%,
        rgba(10, 10, 10, .65) 50%
    );
}

.sidebar.open .toggle {
    transform: translateY(45px);
}

.sidebar .toggle i {
    transition: .4s linear;
}

.sidebar.open .toggle i {
    transform: rotateY(180deg);
}

.image-reference{
    display: none;
}


/*Text box*/
textarea {
    font-size:16px;
  letter-spacing: 1px;
  padding: 2px;
  width: 850px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize:none;
  background-color:#2b2b2b;
  color: white;
  opacity:95%;
  line-height: 2;
    height:75px;
  overflow:hidden;
  margin-top:2%;
  padding-left: 10px;
  /*text-align-last: center;
  align-content:center*/
}
.text-short{
    width: 300px;
    text-align: center;
    margin-top: 0;
}
.side-header{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
/*send icon*/
.submiticon{
    font-size: 36px;
    height:1.5em;
    color: grey;
    margin-left:808px;
    margin-top:37px;
    position: absolute;
    z-index:10;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    cursor: pointer;
}

#submiticonwrap{
display: inline-block;
  width: 36px;
  height:36px;
 /* border: 3px solid #f00; THIS IS WEIRD - THE BORDER IS IN ATOTALLY DIFFERENT SPOT BUT CLICKING THE ICON STILL WORKS */
   z-index:11;
   position:absolute;
}

.describe-data-wrap{
    display:none;

}
.flexy-side-drops{
    display:flex;
    justify-content: center;
}
.flexy-side-drops-centered{
    align-items: center;
}
.flexy-side-drops-centered > h2{
    margin-bottom: 0;
    margin-right: 10px;
} 
.flexy-side-drops > .dropdown{
    flex: 0 0 30%;
    margin-left:0;
    margin-right:0;
}
.flexy-side-drops-narrow > .dropdown{
    flex: 0 0 2 0%;
    margin-left:0;
    margin-right:0;
}
.flexy-row{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexy-row .dropdown{
    margin-bottom:0%;
    margin-top:0%;
}

.describe-textarea{
    color:#f7eaea; 
    height: 35px;
    width: 350px;
    text-align-last: center;
    align-content:center;
    margin-top: 0%;
    vertical-align: middle;
}
.textarea-short{
    width:250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:2%;
}
.dropdown.alignbottom{
    margin-top:auto;
}
.clear{
    clear:both;
}
.header-banner-wrap{
    margin-top:0%; /*4*/
    color:white;
}
#textbox-algo-desc{
    font-size:16px;
    width:850px;
    margin-top:0%;
}
.header-banner-wrap h2{
    font-size:18px;
}
.what-you-need-banner-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.what-you-need-banner-wrap h4{
    font-size:24px;
    color: rgb(172, 130, 77);
}
.what-you-need-banner-wrap h4:hover{
    font-size:28px;
    color: #f7eaea; 
}
.help-banner-wrap{
    margin-top:5%;
    margin-left: 0%;
    cursor: pointer;
}
.help-banner-wrap h4{
    text-align: center;
    color: rgb(196, 145, 255);
    margin-top: 2%;
}
.help-banner-wrap h3{
    font-size: 20px;
}

.help-banner-wrap h4:hover{
    color: rgb(119, 0, 255);
}


.algoloader{
    display:none;
}

.display-text-prompt{
    display:none;
    text-align: center;
    width:100%;
    margin: 0 auto;
    margin-top:1%;
}
.side-by-side-tags{
    display:flex;
    float:left;
    margin-bottom:10%;

}
.stacked-tags{
    display:block;
    margin-bottom:2%;
    margin-left: auto;
    margin-right: auto;
}
.confirm-algo-img-wrap{
    width:650px;
    height:250px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
.confirm-algo-img{
    display:none;
    max-width: 100%; 
    height: auto;
    margin-top: 10%;
    margin-left: 0%;
}

.side-by-side-tags h2{
    font-size:18px;
    text-align: center;
}
/*loader*/
@keyframes spinq{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }

.load{
    /*
    top:50%;
    
    transform:translate(-50%, -50%);*/
  /*change these sizes to fit into your project*/
  position:relative;
  margin-top:1%;
  left:48%;
  width:20px;
  height:20px;
}
.load hr{opacity: 0.6;border:0;margin: 0 auto;width:100%;height:100%;position:absolute;border-radius:50%;animation:spinq 2s ease infinite} /*change spinq to 2s to get 4 circles*/
.load :first-child{background:#aa7ff8;animation-delay:-1.5s}
.load :nth-child(2){background:#a13af6;animation-delay:-1s}
.load :nth-child(3){background:#7812bd;animation-delay:-0.5s}
.load :last-child{background:#8848ff}

.model-failure{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    display:none;

}
.timerload{
    margin: 0 auto;
}
.timerload h2{
    font-size: 18px;
}
.timerload h4{
    font-size: 14px;
}
#hiddenstillcalculating{
    display:none;
}
.changealgorithmwrap{
    position:absolute;
    top: 130px; 
    left: 260px;
}
.chngalgo{
    margin: 0 auto;
    display:block;
    opacity: .5;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size:12px;

}
.chngalgo:hover{
    opacity: 1;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.changealgorithmwrap h2{
    color:rgb(124, 124, 255);
}
.loadertime{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.extractfromwrap{
    display: none;
    /*width: 80%;*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
}
.extract-from-file{
    display:none;
    /*flex: 0 0 1;
    justify-content: center;*/
}
.extract-from-file:first-of-type{
    display:inline-block;
}
.header-extractfrom{
    display:flex;
}
.dropdown.extractfrom{
    display:flex;
    flex: 0 0 0%;
    margin-left:auto;
    margin-right:10px;
    margin-top:0%;
}
.dropdown.extractfrom > .btn{
    margin-top: 0%;
    
}
.adjustheadertable.extractfrom{
    display:none;
}

.adjustheadertable{
    overflow-x:auto;
    display:none;
}

.combinewrap{
    display:none;
}
#merge-description{
    display:none;
}
#append-description{
    display:none;
}
.flexdropdown{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/*remove these two from flexdropdown if it stops working
outside of combine*/
.adjacent{
    justify-content: flex-end;
    align-items: flex-end;
}
.join-two-files{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
.joined-file{
    display:flex;

    align-items: center;
    height: 50%;
    justify-content: center;
    flex: 1 0 0%;

}
.joined-file > .dropdown{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0%;
    margin-top: 0%;
}
.tablerow{
    display:table-row;
}
.updateflexdropdown{
    display:block;
}
.selectsheet{
    display:block;
}

.update-this-file{
    display:none;
}
.selectcolumn{
    display:block;
}


.flex-items-wrap{
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width:100%;
    /*transform: translateX(70%);
    left:70%;*/
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: space-between;
}


.dropdown-header-wrap{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.h2-dropdown-header{
    display:block;
}

.centerflex{
    display:flex;
    flex: 0 0 20%;
    margin-left:0;
    margin-right:0;
}

/*Load algorithm button*/
.glowbutton {
    --glow-color: rgb(132, 0, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.181);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(220, 95, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: rgb(55, 55, 55);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .005em var(--glow-color), 0 0 0.1em 0.2em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .glowbutton:hover {
    color: rgb(255, 176, 176);/*var(--btn-color)*/;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 40em 20em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .glowbutton:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .submit-algo-buttons{
        display:none;
        /*position: fixed;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        margin-top: 4%;
   }
   .submit-algo-buttons.show{
        display:block;
    }
   .update-from-file{
        display:none;
   }

.sub-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 0 16px;
    border-radius: 4px;
    color: #fff;
    background: #6200ee;
    line-height: 1.15;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
        background: rgb(98, 0, 238);
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
}

.flexy-dropdown-wrap{
    display:flex;
    text-align: center;
    margin-right:50px;
}


.select-reconcile-file{
    display:flex;
    flex: 0 0 1;
}
.col-match-flexy-wrap{
    display:flex;
}
.reconcile-column-flexy{
    display:flex;
}
.algo-path-wraper{
    display:none;
}
.nohide{
    display:block;
}
.stretch-banner{
    width:100%;
    display: flex;
    justify-content: center;
}
.flexy-wrap-parent{
    display:flex;
}
.flexy-wrap-child{
    display:flex;
    flex: 0 0 1;
}
#reco-first-file-wrap{
    margin-right:150px;
}

.file-select-block{
    margin-top:2%;
}
.col-match-block{
    margin-top:2%;
}
.file-drop{
    margin-right:1%;
}
.extractfrom.col{
    display:flex;
}
.hide{
    display:none;
}
.hide.center{
    display:none;
    text-align: center;
}

.dropdown.show.action.flexy{
    display:flex;
    flex: 0 0 0%;
    margin: 0px 1%;
}
.calc-actions{
    display:flex;
    justify-content: center; 
    margin-top:0%; 
    align-items : center;  
}
.myButton.conditionbtn.smol{
    display:flex;
    margin-top:0%;
    background: linear-gradient(to bottom, #2c1a54 50%, #1b0035 100%);
}
.myButton.conditionbtn.smol:hover{
    margin-top:0%;
    background: linear-gradient(to top, #2c1a54 50%, #1b0035 100%);
}
.myButton.conditionbtn.smol.hide{
    display:none;
}
.filedropdown-flex{
    display:flex;
}
.calc-select-files{
    display:none;
    justify-content: center;   
    margin-top:2%; 
    white-space: nowrap;
    vertical-align:middle;
}
#calculate-wrap .btn{
    margin-top:0%;
}
.dropdown.col.flex{
    display: flex;
    flex: 0 0 0%;
    margin: 0px 5%;
}
#groupbywrap > .dropdown.col.flex{
    display: flex;
    flex: 0 0 0%;
    margin: 0px 2%;
}
#groupbywrap{
    width: 100%;
    justify-content: center;
    margin-top: 0%;
    align-items: center;
}

.dropdown.show.flex{
    display: flex;
    flex: 0 0 0%;
    margin: 0px 1%;
}
.calc-groupby{
    display:flex;
    justify-content: center;
    width:100%;
}
.calc-groupby.hide{
    display:none;
}
.calc-groupby-wrap{
    display:flex;
    justify-content: center;
}
.calc-col-group-select-wrap{
    display:none;
}
.calc-col-select-wrap{
    display:block;
    justify-content: center;
    margin-top: 3%;
}
.calc-col-select{
    justify-content: center;
    margin-top:1%;
}

.h-sentence-wrap h2{
    font-size: 16px;
    color: rgb(255, 255, 255);
    /*vertical-align: middle;
    text-align: center;
    display: table-cell;*/
}
.sheet-select-drop{
    font-size: 14px;
    height: 24px;
    background: rgb(221, 195, 161);
    width:fit-content;
    border-color: rgb(208, 208, 215);
    color: black; 
}





/* suggestion loader */
.container{
    height:100%;
    width: 100%;
    justify-content:center;
    align-items:center;
    display:flex;
}
.text{  
  font-weight:100;
  font-size:18px;
  color:#FAFAFA;
}
.dud{
    color:#757575;
}

.describe-textarea-div-wrap-flexy{
    display:flex;
    justify-content: left;
    flex: 0 0 0%;
}

#update-descriptions .describe-textarea-div-wrap-flexy{
    justify-content: center;
}

.describe-textarea.flexy{
    display:flex;
    flex: 0 0 0%;
}
.describe-textarea-div-wrap > textarea{
    vertical-align: bottom;
}
.or-separator{
    margin-bottom:2%;
    margin-top:2%;
}
.describe-textarea-div-wrap > .btn{
    margin-top:0%;
}
.describe-textarea-div-wrap{
    margin-top:0.5rem;
}
.describe-textarea-div-wrap:first-of-type{
    margin-left:70px;
}
.inline{
    display:inline-block;
}
.btmmargin{
    margin-bottom:2%;
}
#extract-descriptions{
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.andor{
    width:60px;
}
.regular-header{
    white-space: nowrap;
}
.bottom-space-header-div{
    margin-bottom:2%;
}
.bottom-space-header-small-div{
    margin-bottom: 1%;
}
.combsel{
    display: flex;
    font-size: 14px;
    width: 65px;
    height: 38px;
    margin-left: 70%;
    margin-top: 1%;
    flex: 0 0 28%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}
.combine-type-img{
    width: 500px;
    height: 400px;
    cursor: pointer;
    padding: 25px;
    border: 1px solid #757575; 
}
.combine-type-img:hover{
    background-color:#757575;   
}
.infoimg{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom:5px;
}
.join-tooltip{
    position:relative;
}
.join-tooltip h2{
    color: white;
    font-size: 16px;
}
.hover-prompt{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-style: inset;
    /*width: 640px;
    height: 105px;*/
    max-width:640px;
    left: 50%;
    background-color:black;
    text-align: left;
    border-color: rgb(0, 0, 0) #000000;
    padding: 10px;
    white-space: wrap;
}
.selectfile{
    padding: 0px 10px 0px 10px;
}
.resulttable_cont{
    overflow-x: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#result_table_tbody td {
    min-width: 200px;
}
#result_table_tbody th {
    width: 200px;
}
.header-nowrap{
    white-space: nowrap;
}
#update-from-what{
    margin-top: 2%;
}
.left-right-auto{
    margin-left:auto;
    margin-right:auto;
    flex: 0 0 20%;
    
}
#update-from-file-column-drop-replace{
    margin-bottom:1%;
}
#update-how{
    margin-top:2%;
}
.update-cond{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexy-col{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reco-col-match{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.small-spacy-flexy-row > .dropdown{
    flex: 0 0 10%;
    margin-top: 0%;
}
.grey-banner{
    color:grey;
    font-size: 14px;
}
.centered-flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right:1%;
}
.centered-flex-row-nooffset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.space-left{
    margin-left:20px;
}
#add_update_when{
    justify-content: center;
    display: flex;
    padding-right: 60px;
    width: 45%;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:2%;
}

.flexy-side-drops.flexy-row.small-spacy-flexy-row{
    width:100%;
}
.update-cond{
    width:100%;
}
#update-when{
    width:100%;
}
#update-when > .centered-flex-row{
    width:100%;
}
#first-centered-flex-update{
    width:100%;
}
.hor-center-flex{
    margin-top:auto;
    margin-bottom:auto;
}
.small-right-space{
    margin-right: 1%;
}
#update-where-clauses{
    margin-top:1%;
}
.update_if_from_input{
    align-content: center;
    display: flex;
    margin-bottom: 1%;
}
.middle-flex-align-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.left-flex-align{
    display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
  flex: 1 0 0%;
}
.middle-flex-align{
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right-flex-align{
    display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
  flex: 1 0 0%;
}
.narrow-flex{
    width: 35%;
    overflow: visible;
    display:block;
}
.no-top-margin{
    margin-top:0%;
}
.left-margin-big{
    margin: 0px 0px 0px 250px;
}
.fullwidth{
    width:100%;
}
.leftmarginsmall{
    margin-left:2%;
}
.dropdown.show.flex.header-dropdown{
    margin-bottom:2%;
}
#group-metrics-prompt{
    overflow: auto;
    height: 78px;
}
#result_table_tbody{
    display:table;
}
.headertable.resulttable{
    width: 100%;
}
.warning-box-wrapper{
    display:none;
    margin-top:2%;
}
.warning-box-wrapper h4{
    font-size:20px;
    color:red;
    text-align:center;
}
.delimiter-wrap{
    margin-top: 4%;
    width: 100%;
    display:none;
    label {color:wheat;};
    
}
.delimiter-dropdown{
    background: rgb(221, 195, 161);
}
.addfile{
    margin-top:2%;
}