@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Syne&family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    /*font-family: 'Syne Mono', monospace;*/
    /*font-family: 'Chivo Mono', monospace; */
    font-family: 'Ubuntu Mono', monospace;

/*'poppins',sans-serif;  */
}
html {
    height: auto;
    min-height: 100%;
    
}
body {
    background: black;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: 0.06em;







}
.typecontainer{
    display:block;
    max-height:350px;
    overflow: hidden;

}

h1{
    font-size: 24px;
    text-align:center;
    display:block;
    color: white;  
}
h2{
    font-size:20px; 
    color: white;  
    text-align:left;
    display:inline;
}
h3{
    font-size:20px;   
    text-align:left;
    display:block;
    color:white;
    letter-spacing: .2rem;
    margin-bottom:50px;
}
.action h2{
    font-size:24px;
}
.actionfyi h2{
    font-size:20px;
}
.actionsubtext h2{
    font-size:18px;
    color:purple;
}

p{
   color: white;
   font-size: 18px;
}
span{
    color:white;
}
.codebloxk{
    /*display:block;   */
    text-align:left;
    margin-left:2%;
}

.carouselcontainer{
    /*display:none;*/
    text-align:left;
}
.action{
    text-align : center;
    margin-top: 3%;
}
.actionfyi{
    text-align : center;
}
.actionsubtext{
    text-align : center;
}
/*carot*/
pre {
  background: #000;
  color: white;
  padding: 1ch;
}

pre.caret-underscore > span {
  animation: blink 1s step-end infinite;
  border-bottom: 2px solid white;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.pageheader{
    margin-top:2%;
}

/*add files*/
.form-control{
    width:70%;
    margin-top:2%;
    display:inline;
}

.dropdown{
    display:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
    margin-top: 0%;
}


/*fadein*/
.faded{
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*btn*/
.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:5px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.bigr{
    font-size:18px;
}
/*style="margin-left: auto;margin-right: auto;margin-top: 2%;"*/


/*talbes*/
table, th, td {
	border: 1px solid;
	table-layout: fixed;
	font-family: 'IBM Plex Mono', monospace;
    width: 70%;
    color:white;
    z-index: 1;
    overflow:hidden;
    /*align-left:auto;
    align-right:auto;      */
    

}

.headertable tr:hover {
	background-color:coral;
}
th {
  background-color: white;
  color: #2b2b2b;
}

.headertable {
margin:auto;
margin-top:1%;

}




/* highlight columns when selecting from table*/
.colselect-table {
    margin:auto;
    margin-top:1%;
}

.selected{ 
    background-color: #ace;
    color: black;
} 
.selected-hover { 
    background-color: rgb(207, 222, 236); 
    color: black;
} 

.conditiondivcontainer{
    width:80%;
    height:500;
    margin:0 auto;
}

.conditiondiv{
    width:100%;
    height:60px;
    white-space: nowrap;
    text-align:left;
    
     
}

.addcondition{
    margin-top:2%;
}

.condition-dropdown{
    height:50px;
    width:200px;
        /*float:left;*/
    display:inline-block;
    /*margin-right:50px;  */
    margin-top:1%; 
    /*margin-right:auto;*/
}

.condition-dropdown-andor{
    height:50px;
    width:120px;
        /*float:left;*/
    display:inline-block;
    /*margin-right:50px;  */
    margin-top:1%; 

   
}

.condition-dropdown-btn-andor{
    /*float:left;*/
    display:inline-block;
    width:120px;
    height:50px;
    overflow:hidden;
    background-color: black;
    border-color: red;
    color: white; 
    vertical-align: middle

}
         
.condition-dropdown-btn{
    /*float:left;*/
    display:inline-block;
    width:200px;
    height:50px;
    overflow:hidden;
    background-color: black;
    border-color: red;
    color: white; 
    vertical-align: middle;

}
.condition-input{
    width:250px;
    height:50px;
    text-align:center;
        /*float:left;*/
    display:inline-block;
    margin-left:-10px;
    vertical-align: middle;

}
.condition-input-group-text{
        /*float:left;*/
    display:inline-block;
    height:50px;
    width:250px;
    border-color: red;
    vertical-align: middle;
     text-align:center;
}
.condition-input-and{
    width:250px;
    /*float:left;*/
    height:50px;
    border-color: red; 
    vertical-align: middle;
}
.condition-input-div{
    width:250px;
    /*float:left;*/
    display:inline-block;
    height:50px;
    border-color: red; 
    vertical-align: middle;
    margin-left:250px;
}

.matchdiv{
    display:block;
    left: 25%;
    position:absolute;
    text-align:right;
    width:300px;

}
.dropdown.matchdiv{
    display:block;
    left: 40%;
    /*position:absolute;*/

}
.matchdivsubtext{
    position:relative;
    top:60px;
    left:45%;
    text-align:left;
}
.matchbox{
    margin-top:2%;
    margin-bottom:2%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display : flex;
    align-items : center;
    padding: 0px 15em 0 0em;
}
.matchbox span{
    margin-left: 15%;
    font-size: 20px;
    color: white;  
}
.matchwhenheader{
    width:100%;
    display: flex;
    padding: 10px 0;
}


/* DROP FILES */



.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  display:inline-block;
  width: 450px;
  height:90px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  margin-bottom:2%;
  text-align: left;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  

}

.file-msg {
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:14px;
  color:white;

  text-align: right;
}

.file-input {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  left:-0px;

  &:focus {
    outline: none;
  }
  ;  
}


          

/*=============== BASE ===============*/
/* https://codepen.io/organised/pen/OJaWRwG */
  

.node {
      cursor: pointer;
    }
.node circle {
    /*fill: fill: hsl(248, 53%, 58%); */
    stroke-width: 4px;
    /*filter:blur(1px);                                              */
    /*filter: blur(1px) drop-shadow(2px 1px 5px rgb(128,0,128)); */
    

}  


.front {
  stroke-linecap: round;
  stroke-dasharray: 1507;
  stroke-dashoffset: 0;
}

.node:hover circle {
    fill: black;
    stroke: black;
    stroke-width: 1px;
    filter: blur(1px) drop-shadow(1px 1px 1px rgb(52, 67, 235));
}

.node text {
    font-size: 20px;
    fill: white;
}
.node:hover text {
    font-size: 20px;
    fill: coral;
}
.node image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin:200px; 
    border-radius:50%;
    display:none;
   
}

.node:hover image{
    display:inline;

}
.node.selected image{
    display:inline;
    
}
.node.selected circle{
    fill: red !important;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3px;
}
.selection-svg{
    width:4000px;
    height:600px;
    display: block;
    margin: auto;




}
.node.parent-node.active text{
    transform: translateX(-150px);
    x:-100;
    text-anchor: middle;
    dominant-baseline:hanging;
}
.node.parent-node.active rect{
    transform: translateX(-150px);
    x:-100;
    text-anchor: middle;
}
.node.parent-node.active circle{
    fill: rgb(255, 255, 255) !important;
}
.scroll-collapse-tree
{
   overflow: hidden;
   scroll-behavior: smooth;
   height:1500px;
   display:block;
}
.selection-svg{
    height:600px;
}
.algo-details{
    width:100%;
    height:550px;
    display:none;
}
.description-box{
    display:inline-block;
    width:40%;
    height:540px;
    margin-left:0px;
    vertical-align: top;

}
.description-img{
    width:40%;
    height:540px;
    display:inline-block;
    vertical-align: top;
}
.button-banner{
    display:none; 
    width:100%; 
    height:50px;
    /*overflow:visible;*/
}
.algo-select{
    display:block;
    height:610px;
}

.datasetselection{
    border: 1px dashed white;
    box-sizing: border-box;
    width:38%;
    margin-left:auto;
    margin-right:auto;
    background-image: linear-gradient(to right top, #0c0116, #0e0010, #0c0009, #070003, #000000);
    vertical-align: center;
    opacity: 80%;
}

.dropdown.matchdiv.colselect{
    margin-top:2%;
    margin-left:8%;
}

.notsidebar_wrap{
    clear:both;
    margin-left:8%;
}

/*HORIZONTAL NAVBAR */
 .sidebar {
    width: 150px;
    height: 200%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgb(24, 25, 26, .85);             /*rgba(10, 10, 10, .65)*/
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .4s ease-in-out;

    position: fixed;
    
}

.sidebar.open {
    width: 360px;
}
.logoalone{
    justify-items: center;
    opacity: 55%;
    border-radius: 10px;
    border-color:white;
    float:right;
    margin-left:150px; 
    margin-bottom:0%;

    
}

.sidebar .logo {
    width: 100%;
    height: 240px;
    padding: 40px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    opacity:85%;
}

.sidebar .logo img {
    width: 150px;
    transition: .4s;

}


.sidebar.open .logo img {
    width: 225px;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 36px;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;
    scale: 0;
    opacity: 0;
}

.sidebar.open .logo h3 {
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar .nav-title {
    color: #dadada;
    margin: 40px 0 18px;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open .nav-title {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar nav {
    padding: 0 30px;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0px;
    width: 100%;
    height: 56px;
    padding: 0 0px;
    margin: 8px 0;
    color: #fff;
    transition: .3s;
}

.sidebar nav .nav-item.active {
    background:rgba(91, 51, 138, .62) !important;
}

.sidebar nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar nav .nav-item i {
    font-size: 26px;
}

.sidebar nav .nav-item span {
    font-size: 18px;
    margin-left: 8px;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open nav .nav-item span {
    opacity: 1;
    pointer-events: visible;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar hr {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin: 40px 0 50px;
    background: rgba(255, 255, 255, .1);
    opacity: 0;
}

.sidebar.open hr {
    opacity: 1;
    transition: .4s;
}

.sidebar .toggle {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 245px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding: 2px 0 2px 2px;
    background: linear-gradient(
        90deg,
        transparent 50%,
        rgba(10, 10, 10, .65) 50%
    );
}

.sidebar.open .toggle {
    transform: translateY(45px);
}

.sidebar .toggle i {
    transition: .4s linear;
}

.sidebar.open .toggle i {
    transform: rotateY(180deg);
}

.image-reference{
    display: none;
}




$gold: #fcba03;
$coral: #5B338A;
$brightCoral: #7d29e3;
$opacity: 90%;
#page {

  align-items: center;
  background: linear-gradient(
                  to top right,
                  mix($coral, white, $opacity) 10%,
                  mix($brightCoral, white, $opacity) 65%,
                  mix($gold, white, $opacity) 125%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s;
}


#phrase_box {  
  display: flex;
  flex-flow: column;
  height: 350px;
  overflow: hidden;
  width: 500px;
  margin-left: 500px;
  margin-top:10%;
}

#phrases {
  animation: slide-phrases-upward 20s;
}

#footer {
  bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

@keyframes slide-phrases-upward {
  @for $i from 0 through 20 {
    #{$i * 5%} {
      transform: translateY($i * -50px);
    }
  }
}

@for $i from 0 through 20 {
  #loadingCheckCircleSVG-#{$i} {
    animation: fill-to-white 5000ms;
    animation-delay: ($i - 1.5) * 1s;
    fill: white;
    opacity: 0;
  }
}
@keyframes fill-to-white {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@for $i from 0 through 20 {
  #loadingCheckSVG-#{$i} {
    animation: fill-to-coral 5000ms;
    animation-delay: ($i - 1.5) * 1s;    
  }
}
@keyframes fill-to-coral {
  0% {
    fill: white;
  }
  10% {
    fill: $brightCoral;
  }
  100% {
    fill: $brightCoral;
  }
}


/*Text box*/
textarea {
    font-size:20px;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize:none;
  background-color:#2b2b2b;
  color: white;
  opacity:95%;
  line-height: 2;
  height: 180px;
  overflow:hidden;
  margin-top:2%;
}

/*send icon*/
.submiticon{
    font-size: 36px;
    height:1.5em;
    color: grey;
    margin-left:630px;
    margin-top:170px;
    position: relative;
    z-index:10;
    width:100%;
    height:100%;
}

#submiticonwrap{
display: inline-block;
  width: 36px;
  height:36px;
 /* border: 3px solid #f00; THIS IS WEIRD - THE BORDER IS IN ATOTALLY DIFFERENT SPOT BUT CLICKING THE ICON STILL WORKS */
   z-index:11;
   position:absolute;
}

.describe-data-wrap{
    display:none;
}
.describe-textarea{
    color:#999;
    height: 50px;
    width: 300px;
}

.header-banner-wrap{
    margin-top:10%;
    color:white;
}
.header-banner-wrap h2{
    font-size:24px;
}

.help-banner-wrap{
    margin-top:5%;
    margin-left: 50%;
    
}
.help-banner-wrap h3{
    font-size: 20px;
}

.submitloadersvg{
    display:none;
    margin-top:100px;
}

.algoloader{
    display:none;
}



/*loader*/
@keyframes spinq{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spinq 2s ease infinite}
.load :first-child{background:#4a19a6;animation-delay:-1.5s}
.load :nth-child(2){background:#a13af6;animation-delay:-1s}
.load :nth-child(3){background:#a343fd;animation-delay:-0.5s}
.load :last-child{background:#311948}

.extractfromwrap{
    display: none;
}
.extract-from-file{
    display:none;
    flex: 0 0 1;
}
.header-extractfrom{
    display:flex;
}
.dropdown.extractfrom{
    display:flex;
}
.adjustheadertable.extractfrom{
    display:none;
}

.adjustheadertable{
    overflow-x:auto;
    display:none;
}

.combinewrap{
    display:none
}
.flexdropdown{
    display:flex;
}
.join-two-files{
    display:flex;
    flex: 0 0 1;
}
.joined-file{
    display:flex;
}


/*Load algorithm button*/
.glowbutton {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.181);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .glowbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .glowbutton:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .submit-algo-buttons{
    display:none;
   }

   .update-from-file{
    display:none;

   }
