dj_database_url==2.2.0
Django==4.2.7
django_email_verification==0.3.3
formulas==1.2.7
import_export==0.3.1
numpy==2.0.0
openai==1.35.3
pandas==2.2.2
python-decouple==3.8
python_dateutil==2.8.2
Requests==2.32.3
gunicorn==22.0.0
django-jquery==3.1.0
django-static-jquery==2.1.4
whitenoise==6.7.0
psycopg2-binary==2.9.9
openpyxl==3.1.2
