@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Syne&family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: black;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
h1{
    color: #fff;
    font-size: 28px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
p{
  font-family: 'poppins',sans-serif;
}
.surface-text{
  font-family: 'Ubuntu Mono', monospace;
}
.img-text-wrap{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  gap:50px;
  margin-bottom:5%;
}
.algo-desc-img{
    width: 306px;
    height: 398px;
    border-radius: 12px;
}
.algo-desc-img-hidden{
    width: 690px;
    height: 351px;
    display:none;
  }
.example-img{
  width:1000px;
  height:500px;
  border:none;
}
.p-header{
  font-size:24px;
}
.banner-desc{
  margin-bottom: 2%;
}
.big-space{
  margin-bottom:7%;
}
.no-margin{
  margin:0; 
}
.example-box{
  width: 60%;
  margin: auto;
  text-align: left;
}
.expanded-text{
  display:none;
}
.left-text{
  float: left;
  width: 20%;
  align-content: center;
}
.right-text{
  float: right;
  width: 20%;
  align-content: center;
}
.txt-img-desc{
  line-height: 50px;
  display: block;
}

section {
    height: 100%;
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 710px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #d3d1d1;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #d3d1d1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  a.zoomed p {
    -webkit-line-clamp: unset;
  }
  a.zoomed .card-inner {
    overflow: auto;
  }
  a.opacity-0 {
    opacity: 0;
  }
  .overflow {
    overflow: hidden;
  }
  .overflow .background {
    opacity: 0 !important;
  }
  
  .background {
    background-color: rgb(68, 7, 128, .6);
    border-radius: 20px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
  .card-wraper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
  }
  a.card {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px;
  }
  .card-main {
    border: 2px solid rgb(68, 7, 128);
    padding: 40px;
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #000;
  }
  .card:hover .card-main {
    position: relative;
    z-index: 20;
  }
  .card-main.expanded{
    background-color: #090411;
  }
  .bigp{
    font-size:22px;
  }
  .card-inner {
    position: relative;
    z-index: 50;
    height: 100%;
  }
  .card-inner div {
    /*height: 100%;*/
  }
  img {
    height: 100%;
    width: 100%;
  }
  
  @media screen and (max-width: 1199px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media screen and (max-width: 991px) {
    body {
      height: 100%;
    }
    .container {
      max-width: 720px;
      display: block;
    }
    .card-wraper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media screen and (max-width: 767px) {
    .container {
      max-width: 520px;
    }
    .card-wraper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .card-main {
      padding: 30px 20px;
    }
    a.card {
      padding: 6px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .container {
      max-width: 100%;
    }
    .card-wraper {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .card-main {
      padding: 40px;
    }
    a.card {
      padding: 10px;
    }
  }
  
  .marg-one{
    margin-top:1%;
  }

  .hide-img{
    display:none;
  }