@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Syne&family=Ubuntu+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: black;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
.anchors{
  font-size: 20px;
  color: #ff9d6e;
}
.anchors:hover{
  color:darkorchid;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    color: #fff;
    font-size: 28px;
    margin-top:10%;
}
.faded{
  font-size: 28px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.main-banner-wrap{
  margin-top:4%;
  margin-left:auto;
  margin-right:auto;
}


/*scroll menu https://codepen.io/MightyShaban/pen/qBqRMN*/

.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  z-index: 100;
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sticky {
  background-color: black;
  opacity: 1;
  top: 0px;
  /* border-bottom: 1px solid #dcdcdc; */
}
.logo {
  width: 50px;
  font-size: 25px;
  color: white;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  margin-top:10px;
}
.tinylogo{
  width:65px;
  height:50px;
  float: left;
}
.imglogo-wrap{
  width: 255px;
  margin-top: -14px;
}
#whatis{
  height:120px;
}
#howdoesitwork{
  height:264px;
}
#whatapplet{
  height:132px;
}
#whatapplet2{
  height:176px;
}
.py-btn{
  visibility: hidden;
  background: linear-gradient(rgb(255, 223, 118) 10%, rgb(255, 211, 67) 90%) 0% 0% / auto repeat scroll padding-box border-box rgb(255, 211, 67);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px 0px, rgba(255, 255, 255, 0.5) 0px 0px 5px 0px inset;
  color: rgb(77, 77, 77);
  cursor: pointer;
  font: 16px / 26px SourceSansProRegular, Arial, sans-serif;
  margin-bottom: 7px;
  padding: 6.4px 12px 5.6px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 1px;
  white-space: nowrap;
  text-decoration: none solid rgb(77, 77, 77);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: baseline;
  width: 188.562px;
  border: 1px solid rgb(220, 169, 0) rgb(220, 169, 0) rgb(255, 223, 118);
  margin-bottom:5%;
}
.py-btn:hover{
  background: linear-gradient(rgb(255, 235, 169) 10%, rgb(255, 211, 67) 90%) 0% 0% / auto repeat scroll padding-box border-box rgb(255, 211, 67);
}
#herotext{
  font-size:20px;
}
.angryshake
{
  animation: horizontal-shaking 0.1s infinite;
}
@keyframes horizontal-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(2px) }
  50% { transform: translateY(-2px) }
  75% { transform: translateY(2px) }
  100% { transform: translateY(0) }
 }


nav {
  float: right;
  width: 60%;
  margin-top:10px;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: black;
  display: block;
}
.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 30px;
  line-height: 1.8;
}
p {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 2;
}
.content {
  padding: 50px 2% 250px;
}
#utube{
  visibility: hidden;
  width: 750px;
  height: 450px;
}
.hideimg{
  visibility: hidden;
}
#frontandback-img{
  opacity:.8;
}
#homepagebuildalgo{
  font-size:16px;
}
#homepagebuildalgo-bottom{
  font-size:18px;
}
.hero {
  position: relative;
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
  margin-top:0%;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid grey;
  padding-bottom: 12px;
  line-height: 3;
}
.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid purple;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: purple;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
 }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
 }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
 }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
 }
}


/*networkanimation*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.large-header{
  width: 100%;
  height: 559px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.container.demo-1{
  width: 100px;
  height: 100px;
  position: relative;
}

#demo-canvas {
  background: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}
.content > p{
  text-align: left;
}

.home-page-fade{
  margin-bottom:20px;
}

  .fade-in {
    opacity: 1;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* carousel */
.carousel {
  display: flex !important;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
  margin-bottom:20%;
  visibility:hidden;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 365px;
  height: 438px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.sample-menu-img{
  width: 398px;
  height: 476px;
  border-radius: 12px;
}
.carousel__item:nth-child(1) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); /*linear-gradient(45deg, #bfc1e9 0%, #6709c5 50%,#f4f2f7 100%);*/
}
.carousel__item:nth-child(2) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
  /*background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%);*/
}
.carousel__item:nth-child(3) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
  /*background: linear-gradient(45deg, #2d35eb 0%, #22c1c3 100%);*/
}
.carousel__item:nth-child(4) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
  /*background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);*/
  /*background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);*/
}
.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
}
.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
}
.carousel__item:nth-child(6) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
  /*background: linear-gradient(45deg, #ffffff 0%, #575757 100%);*/
}
.carousel__item:nth-child(7) {
  background: linear-gradient(45deg, #2f274d 10%, #6709c5 100%,#f4f2f7 0%); 
  /*background: linear-gradient(45deg, #501f1f 0%, #bb7c06 100%);*/
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="-3"], .carousel__item[data-pos="3"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-3"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="3"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
.samplemenu{
  width:632px;
  height:490px;
  visibility: hidden;
  border-image: linear-gradient(#b0b0b0, #423f3f)30;
  border-width: 1px;
  border-style: solid;
}
.sample-result{
  width:1137px;
  height:632px;
  display:none;
  border-image: linear-gradient(#fff, #090909) 30;
  border-width: 1px;
  border-style: solid;
}
.describetextboxwrap{
  visibility: hidden;
}
.text{
  color: #f57542;
}

#howtochoose{
  height:100px;
}

video{
  border: 6px outset #ddd;
  width:750px;
}

#ifunsure{
  height:400px;
}


/*slide show for mobile*/
.slide-item {
	width: 300px;
	height: 30px;
	display: flex;
	text-align: center;
	line-height: 30px;
	background: orange;
	margin: 0;
	position: relative;
	float: left;
}
.slide-wrap-2 img {
	float: left;
	user-drag: none;
	user-select: none;
}
.slide-wrap {
	position: relative;
	background: yellow;
}
#slideshow {
  display:none !important;
  /*
	left: 50%;
	transform: translateX(-50%);
  position: absolute;
  */
	width: 100vw;

	
	overflow: hidden;
}
.slide-wrap-2 {
	position: relative;
}
.slide-wrap-2-not-dragging {
	transition: left .3s ease-out;

	
}
#slideshow-outer {
	width: 100vw;
	position: relative;
	overflow: hidden;
}
.rightBtn i {
	position: absolute;
	left: 50%;


	transform: translate(-50%,-50%);
}
.rightBtn:active, .leftBtn:active {
	filter: opacity(90%);
	border: none;
}
.rightBtn:focus, .leftBtn:focus {
	outline: 0;
	border: 2px solid #81ecec;
}
.rightBtn:hover, .leftBtn:hover {
}
.rightBtn, .leftBtn {
	cursor: pointer;
	border-radius: 50%;
	border: none;
	background: #bac2d1;
	width: 40px;
	height: 40px;
	padding: 0;
	position: absolute;
	z-index: 5;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}
.rightBtn {
	right: 5px;
	left: unset;
}
.idPos {
	width: 100%;
	background: yellow;
	position: absolute;
	top: unset;
	left: 0;
	z-index: 98;
}
.spam {
	position: absolute;
	z-index: 111;
	width: 100%;
	height: 100%;

}
.idPosItem {
	background: #81ecec;
	width: 12px;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 50%;
	height: 12px;
	cursor: pointer;
	float: left;
	margin: 3.5px;
	position: relative;
	top: 0;
	
	transition: all .3s cubic-bezier(.58,1.49,.68,.53);

	z-index: 99;
}
.idPos2 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}



@media screen and (max-width: 780px) {
  nav{
    width: 90vw;
    margin-right: 50PX;
  }
  .nav.ul.a {
    font-size: 17px;
  }
  #menu-cards{
    display:none !important;
  }
  body{
    min-width: fit-content;
    width:100%;
    height: 100%;

  }
  h1{
    font-size:25px;
  }
  p{
    font-size:16px;
  }
  .hero{
    padding-top:10px;
    min-height:320px;
  }
  #slideshow{
    visibility:hidden;
    display:block !important;
  }
  #homepagebuildalgo{
    font-size: 16px;
  }
  #whatis{
    height:158px;
  }
  #howdoesitwork{
    height:280px;
  }
  #utube{
    width:90vw;
    height:279px;
  }
  #frontandback-img{width:350px;}

}












